# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
.venv/
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# SQLite DB
crm.db

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# local env
.env

# GitHub Actions workspace
.github/workflows/*_cache
